@model IEnumerable<EcoCycleCore.Models.Publicacione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PesoCantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlImagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPublicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PesoCantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlImagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPublicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material.MaterialId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.UsuarioId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PublicacionesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PublicacionesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PublicacionesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
