@model EcoCycleCore.Models.Entrega

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Entrega</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicacionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicacionId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CiudadanoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CiudadanoId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentroId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentroId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoReal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoReal)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PuntosOtorgados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PuntosOtorgados)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudadano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudadano)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publicacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EntregaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
